@charset "UTF-8";body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul {
    margin: 0;
    padding: 0;
}
body,button,input,select,table,textarea {
    font-size: 12px;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
}
html {
    height: 100%;
    background-color: #d4dadf;
}
body {
    width: 1024px;
    margin: 0 auto;
}
#container {
    min-width: 1024px;
    margin: 0 auto;
}
.section_todo_lst {
    overflow: hidden;
}
.wrap_todo_box {
    float: left;
    width: 33%;
}
.lst_title {
    background-color: #fff;
    border-bottom: 1px solid #0aba16;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
}
.lst_todo {
    background-color: #e9ecef;
    padding: 2px 5px 10px 5px;
}
.item {
    background-color: #fff;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #e1e4e7;
    margin-top: 5px;
    padding: 0px 0px 0px 5px;
    display: flex;
}
.item_txt {
    width: 90%;
    padding: 10px 0px 10px 5px;
}
.item_title, .item_info {
    padding-top: 2px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item_info > span {
    font-weight: 500;
}
.btns {
    margin-left: 10px;
    float: right;
    flex: 1;
}
.item_remove_btn, .item_remove_btn > button, .item_next_btn, .item_next_btn > button {
    height: 50%;
    width: 100%;
    border: 0;
    color: #fff;
    opacity: 0.9;
}
button {
    cursor: pointer;
}
.item_remove_btn > button {
    background-color: #EE3F3F;
}
.item_next_btn > button {
    background-color: #0aba16;
}

small {
    font-weight: 300;
}
.item_info > span {
    font-style: italic;
}
.item_title {
    font-size: 18px;
}
.header {
    margin: 0 auto;
    top: 0;
    width: 80%;
    height: 80px;
    overflow: hidden;
}
#page_title {
    position: relative;
    top: 30%;
    margin-left: 30px;

}
#add_todo_btn {
    float: right;
    position: relative;
    padding: 10px;
    border: 1px solid #0aba16;
    background-color: white;
    color: #0aba16;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}
#add_todo_btn:hover {
    background-color: #0aba16;
    color: white;
    transition: all .15s linear;
}
.wrap_popup {
    top: 20em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.back_dark {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
    background-color: #000;
    opacity: 0.5;
}
.popup_title {
    padding: 5px 0px 5px 0px;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    background-color: #0aba16;
}
.popup_title.del {
    background-color: #F16464;
}
.popup_add, .popup_delete{
    position: relative;
    background-color: #fff;
    width: 500px;
    z-index: 10000;
    margin: 0 auto;
}
.popup_todoform, .popup_infos {
    position: relative;
    margin: 20px 20px 20px 20px;
}
.popup_todoform > label, input {
    font-size: 18px;
    margin: 4px 2px 4px 2px;
}
input[type=text] {
    width: 350px;
}
.popup_btns {
    position: relative;
    overflow: hidden;
    border-top: 1px solid #dddedf;
}
.btn_agree {
    color: #0aba16;
    border-left: 1px solid #dddedf;
}
.btn_reject, .btn_agree {
    float: left;
    width: 49.9%;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
.delete_msg {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    border-top: 1px solid #dddedf;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}
.del_title {
    word-break: break-word;
    font-size: 23px;
}
.del_info {
    display: block;
    word-break: break-word;
    font-size: 16px;
    color: #666;
}
